.card{
  width: 300px; /* Largura do card */
  padding: 20px; /* Espaçamento interno */
  border: 2px solid #ffffff; /* Borda cinza */
  border-radius: 10px; /* Bordas arredondadas */
  background-color: #ffffff; /* Cor de fundo */
  text-align: center; /* Alinhamento do texto ao centro */
  position: absolute; /* Posicionamento absoluto */
  top: 50%; /* 50% do topo */
  left: 50%; /* 50% da esquerda */
  transform: translate(-50%, -50%); /* Centraliza a div */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body{
  background-color: #FFD700;
}
