.button {
    background-color: white; /* Cor de fundo branca */
    border: 2px solid #FFD700; /* Bordas amarelas */
    color: #FFD700; /* Cor do texto amarela */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    margin-top: 10px;
}

.button:hover {
    background-color: #FFD700; /* Cor de fundo amarela quando passa o mouse */
    color: white; /* Cor do texto branca quando passa o mouse */
}